/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../icons/icomoon.eot");
  src: url("../icons/icomoon.eot?#iefix") format("embedded-opentype"), url("../icons/icomoon.ttf") format("truetype"), url("../icons/icomoon.woff") format("woff"), url("../icons/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/init/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/init/_icons.scss */
.icon-play:before {
  content: "\e380";
}

/* line 29, ../sass/init/_icons.scss */
.icon-pause:before {
  content: "\e381";
}

/* line 32, ../sass/init/_icons.scss */
.icon-volume-down:before {
  content: "\e395";
}

/* line 35, ../sass/init/_icons.scss */
.icon-volume-up:before {
  content: "\e394";
}

/* line 38, ../sass/init/_icons.scss */
.icon-volume-mute:before {
  content: "\e393";
}

/* line 54, ../sass/animations/_animations.scss */
.progress {
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
}

@-webkit-keyframes fadeIn {
  /* line 2, ../sass/animations/_fade-in.scss */
  0% {
    opacity: 0;
  }

  /* line 5, ../sass/animations/_fade-in.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 2, ../sass/animations/_fade-in.scss */
  0% {
    opacity: 0;
  }

  /* line 5, ../sass/animations/_fade-in.scss */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  /* line 2, ../sass/animations/_fade-in.scss */
  0% {
    opacity: 0;
  }

  /* line 5, ../sass/animations/_fade-in.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 2, ../sass/animations/_fade-in.scss */
  0% {
    opacity: 0;
  }

  /* line 5, ../sass/animations/_fade-in.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  /* line 2, ../sass/animations/_fade-out.scss */
  0% {
    opacity: 1;
  }

  /* line 5, ../sass/animations/_fade-out.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 2, ../sass/animations/_fade-out.scss */
  0% {
    opacity: 1;
  }

  /* line 5, ../sass/animations/_fade-out.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  /* line 2, ../sass/animations/_fade-out.scss */
  0% {
    opacity: 1;
  }

  /* line 5, ../sass/animations/_fade-out.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 2, ../sass/animations/_fade-out.scss */
  0% {
    opacity: 1;
  }

  /* line 5, ../sass/animations/_fade-out.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInUp {
  /* line 2, ../sass/animations/_fade-in-up.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }

  /* line 6, ../sass/animations/_fade-in-up.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  /* line 2, ../sass/animations/_fade-in-up.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }

  /* line 6, ../sass/animations/_fade-in-up.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes fadeInUp {
  /* line 2, ../sass/animations/_fade-in-up.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }

  /* line 6, ../sass/animations/_fade-in-up.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  /* line 2, ../sass/animations/_fade-in-up.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }

  /* line 6, ../sass/animations/_fade-in-up.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutUp {
  /* line 2, ../sass/animations/_fade-out-up.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 6, ../sass/animations/_fade-out-up.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@-moz-keyframes fadeOutUp {
  /* line 2, ../sass/animations/_fade-out-up.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 6, ../sass/animations/_fade-out-up.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@-ms-keyframes fadeOutUp {
  /* line 2, ../sass/animations/_fade-out-up.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 6, ../sass/animations/_fade-out-up.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes fadeOutUp {
  /* line 2, ../sass/animations/_fade-out-up.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 6, ../sass/animations/_fade-out-up.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@-webkit-keyframes fadeInDown {
  /* line 2, ../sass/animations/_fade-in-down.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  /* line 6, ../sass/animations/_fade-in-down.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 2, ../sass/animations/_fade-in-down.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  /* line 6, ../sass/animations/_fade-in-down.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes fadeInDown {
  /* line 2, ../sass/animations/_fade-in-down.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  /* line 6, ../sass/animations/_fade-in-down.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 2, ../sass/animations/_fade-in-down.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  /* line 6, ../sass/animations/_fade-in-down.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutDown {
  /* line 2, ../sass/animations/_fade-out-down.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 6, ../sass/animations/_fade-out-down.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@-moz-keyframes fadeOutDown {
  /* line 2, ../sass/animations/_fade-out-down.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 6, ../sass/animations/_fade-out-down.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@-ms-keyframes fadeOutDown {
  /* line 2, ../sass/animations/_fade-out-down.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 6, ../sass/animations/_fade-out-down.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@keyframes fadeOutDown {
  /* line 2, ../sass/animations/_fade-out-down.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 6, ../sass/animations/_fade-out-down.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@-webkit-keyframes fadeInLeft {
  /* line 2, ../sass/animations/_fade-in-left.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 6, ../sass/animations/_fade-in-left.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  /* line 2, ../sass/animations/_fade-in-left.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 6, ../sass/animations/_fade-in-left.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-ms-keyframes fadeInLeft {
  /* line 2, ../sass/animations/_fade-in-left.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 6, ../sass/animations/_fade-in-left.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  /* line 2, ../sass/animations/_fade-in-left.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 6, ../sass/animations/_fade-in-left.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeOutLeft {
  /* line 2, ../sass/animations/_fade-out-left.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 6, ../sass/animations/_fade-out-left.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@-moz-keyframes fadeOutLeft {
  /* line 2, ../sass/animations/_fade-out-left.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 6, ../sass/animations/_fade-out-left.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@-ms-keyframes fadeOutLeft {
  /* line 2, ../sass/animations/_fade-out-left.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 6, ../sass/animations/_fade-out-left.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@keyframes fadeOutLeft {
  /* line 2, ../sass/animations/_fade-out-left.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 6, ../sass/animations/_fade-out-left.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@-webkit-keyframes fadeInRight {
  /* line 2, ../sass/animations/_fade-in-right.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 6, ../sass/animations/_fade-in-right.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  /* line 2, ../sass/animations/_fade-in-right.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 6, ../sass/animations/_fade-in-right.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-ms-keyframes fadeInRight {
  /* line 2, ../sass/animations/_fade-in-right.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 6, ../sass/animations/_fade-in-right.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  /* line 2, ../sass/animations/_fade-in-right.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 6, ../sass/animations/_fade-in-right.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeOutRight {
  /* line 2, ../sass/animations/_fade-out-right.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 6, ../sass/animations/_fade-out-right.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@-moz-keyframes fadeOutRight {
  /* line 2, ../sass/animations/_fade-out-right.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 6, ../sass/animations/_fade-out-right.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@-ms-keyframes fadeOutRight {
  /* line 2, ../sass/animations/_fade-out-right.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 6, ../sass/animations/_fade-out-right.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@keyframes fadeOutRight {
  /* line 2, ../sass/animations/_fade-out-right.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 6, ../sass/animations/_fade-out-right.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@-webkit-keyframes bounceIn {
  /* line 2, ../sass/animations/_bounce-in.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    -moz-transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }

  /* line 6, ../sass/animations/_bounce-in.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  /* line 10, ../sass/animations/_bounce-in.scss */
  70% {
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 13, ../sass/animations/_bounce-in.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-moz-keyframes bounceIn {
  /* line 2, ../sass/animations/_bounce-in.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    -moz-transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }

  /* line 6, ../sass/animations/_bounce-in.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  /* line 10, ../sass/animations/_bounce-in.scss */
  70% {
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 13, ../sass/animations/_bounce-in.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-ms-keyframes bounceIn {
  /* line 2, ../sass/animations/_bounce-in.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    -moz-transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }

  /* line 6, ../sass/animations/_bounce-in.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  /* line 10, ../sass/animations/_bounce-in.scss */
  70% {
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 13, ../sass/animations/_bounce-in.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes bounceIn {
  /* line 2, ../sass/animations/_bounce-in.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    -moz-transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }

  /* line 6, ../sass/animations/_bounce-in.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  /* line 10, ../sass/animations/_bounce-in.scss */
  70% {
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 13, ../sass/animations/_bounce-in.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes bounceOut {
  /* line 2, ../sass/animations/_bounce-out.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 5, ../sass/animations/_bounce-out.scss */
  50% {
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }

  /* line 8, ../sass/animations/_bounce-out.scss */
  70% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  /* line 12, ../sass/animations/_bounce-out.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    -moz-transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }
}

@-moz-keyframes bounceOut {
  /* line 2, ../sass/animations/_bounce-out.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 5, ../sass/animations/_bounce-out.scss */
  50% {
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }

  /* line 8, ../sass/animations/_bounce-out.scss */
  70% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  /* line 12, ../sass/animations/_bounce-out.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    -moz-transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }
}

@-ms-keyframes bounceOut {
  /* line 2, ../sass/animations/_bounce-out.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 5, ../sass/animations/_bounce-out.scss */
  50% {
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }

  /* line 8, ../sass/animations/_bounce-out.scss */
  70% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  /* line 12, ../sass/animations/_bounce-out.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    -moz-transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }
}

@keyframes bounceOut {
  /* line 2, ../sass/animations/_bounce-out.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 5, ../sass/animations/_bounce-out.scss */
  50% {
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }

  /* line 8, ../sass/animations/_bounce-out.scss */
  70% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  /* line 12, ../sass/animations/_bounce-out.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    -moz-transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }
}

/* line 3, ../sass/init/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/init/_global.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 12, ../sass/init/_global.scss */
body {
  padding-bottom: 50px;
  font: 14px/1 Arial, sans-serif;
  color: white;
}

/* line 18, ../sass/init/_global.scss */
a {
  color: white;
  text-decoration: none;
}
/* line 22, ../sass/init/_global.scss */
a:hover {
  text-decoration: underline;
}

/* line 27, ../sass/init/_global.scss */
#main {
  position: relative;
  height: 100%;
}

/* line 32, ../sass/init/_global.scss */
.home {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/init/_global.scss */
.home .home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* line 48, ../sass/init/_global.scss */
.bio,
.show,
.gallery {
  width: 100%;
  height: 800px;
}
/* line 52, ../sass/init/_global.scss */
.bio img,
.show img,
.gallery img {
  position: relative;
}

/* line 57, ../sass/init/_global.scss */
.bio {
  position: relative;
  background-color: #2a9ae2;
  overflow: hidden;
}
/* line 16, ../sass/init/_mixins.scss */
.bio:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transform: skewX(70deg) translateX(5%);
  -moz-transform: skewX(70deg) translateX(5%);
  -ms-transform: skewX(70deg) translateX(5%);
  -o-transform: skewX(70deg) translateX(5%);
  transform: skewX(70deg) translateX(5%);
}
/* line 27, ../sass/init/_mixins.scss */
.bio:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transform: skewX(50deg) translateX(30%);
  -moz-transform: skewX(50deg) translateX(30%);
  -ms-transform: skewX(50deg) translateX(30%);
  -o-transform: skewX(50deg) translateX(30%);
  transform: skewX(50deg) translateX(30%);
}

/* line 61, ../sass/init/_global.scss */
.show {
  position: relative;
  background-color: #f7862a;
  overflow: hidden;
}
/* line 16, ../sass/init/_mixins.scss */
.show:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transform: skewX(-30deg) translateX(15%);
  -moz-transform: skewX(-30deg) translateX(15%);
  -ms-transform: skewX(-30deg) translateX(15%);
  -o-transform: skewX(-30deg) translateX(15%);
  transform: skewX(-30deg) translateX(15%);
}
/* line 27, ../sass/init/_mixins.scss */
.show:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transform: skewX(-50deg) translateX(40%);
  -moz-transform: skewX(-50deg) translateX(40%);
  -ms-transform: skewX(-50deg) translateX(40%);
  -o-transform: skewX(-50deg) translateX(40%);
  transform: skewX(-50deg) translateX(40%);
}

/* line 65, ../sass/init/_global.scss */
.gallery {
  position: relative;
  background-color: #907eb2;
  overflow: hidden;
}
/* line 16, ../sass/init/_mixins.scss */
.gallery:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transform: skewX(70deg) translateX(5%);
  -moz-transform: skewX(70deg) translateX(5%);
  -ms-transform: skewX(70deg) translateX(5%);
  -o-transform: skewX(70deg) translateX(5%);
  transform: skewX(70deg) translateX(5%);
}
/* line 27, ../sass/init/_mixins.scss */
.gallery:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transform: skewX(50deg) translateX(30%);
  -moz-transform: skewX(50deg) translateX(30%);
  -ms-transform: skewX(50deg) translateX(30%);
  -o-transform: skewX(50deg) translateX(30%);
  transform: skewX(50deg) translateX(30%);
}

/* line 69, ../sass/init/_global.scss */
.center {
  position: relative;
  z-index: 2;
  width: 1024px;
  margin: 0 auto;
}

/* line 76, ../sass/init/_global.scss */
.texte {
  display: inline-block;
  height: 350px;
  width: 50%;
  vertical-align: middle;
}

/* line 83, ../sass/init/_global.scss */
#tubular-container {
  position: absolute !important;
}

/* line 87, ../sass/init/_global.scss */
#jpreOverlay {
  background: #2a9ae2;
}

/* line 91, ../sass/init/_global.scss */
#jpreSlide {
  width: 50%;
  height: 30%;
  font-size: 22px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
}

/* line 100, ../sass/init/_global.scss */
#jpreLoader {
  width: 100%;
  height: 1px;
}

/* line 105, ../sass/init/_global.scss */
#jpreBar {
  background-color: white;
  animation: progress 2s linear infinite;
  -webkit-animation: progress 2s linear infinite;
  -moz-animation: progress 2s linear infinite;
  -ms-animation: progress 2s linear infinite;
  -o-animation: progress 2s linear infinite;
}

/* line 110, ../sass/init/_global.scss */
#jprePercentage {
  top: 24px;
  right: -45%;
  font-size: 24px;
  color: white;
  text-align: center;
}

/* line 118, ../sass/init/_global.scss */
#jpreButton {
  width: 100px;
  margin: 0 auto;
  padding: 3px 10px;
  color: white;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  text-shadow: -1px -1px 0 #01293F;
  border: 1px solid #2EACEA;
  background: #23a6ed;
  cursor: pointer;
}

@-webkit-keyframes progress {
  /* line 133, ../sass/init/_global.scss */
  0% {
    background-position: 0 0;
  }

  /* line 136, ../sass/init/_global.scss */
  100% {
    background-position: -60px -60px;
  }
}

@-moz-keyframes progress {
  /* line 133, ../sass/init/_global.scss */
  0% {
    background-position: 0 0;
  }

  /* line 136, ../sass/init/_global.scss */
  100% {
    background-position: -60px -60px;
  }
}

@-ms-keyframes progress {
  /* line 133, ../sass/init/_global.scss */
  0% {
    background-position: 0 0;
  }

  /* line 136, ../sass/init/_global.scss */
  100% {
    background-position: -60px -60px;
  }
}

@keyframes progress {
  /* line 133, ../sass/init/_global.scss */
  0% {
    background-position: 0 0;
  }

  /* line 136, ../sass/init/_global.scss */
  100% {
    background-position: -60px -60px;
  }
}

/* line 141, ../sass/init/_global.scss */
.progress {
  animation-name: progress;
  -webkit-animation-name: progress;
  -moz-animation-name: progress;
  -ms-animation-name: progress;
  -o-animation-name: progress;
}

/* line 1, ../sass/views/_loader.scss */
#jpreOverlay {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a9ae2;
}

/* line 11, ../sass/views/_loader.scss */
#jpreSlide {
  width: 50%;
  height: 30%;
  font-size: 22px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
}

/* line 20, ../sass/views/_loader.scss */
#jpreLoader {
  width: 100%;
  height: 100%;
}

/* line 25, ../sass/views/_loader.scss */
#jpreBar {
  background-color: rgba(255, 255, 255, 0.2);
  animation: progress 2s linear infinite;
  -webkit-animation: progress 2s linear infinite;
  -moz-animation: progress 2s linear infinite;
  -ms-animation: progress 2s linear infinite;
  -o-animation: progress 2s linear infinite;
}

/* line 30, ../sass/views/_loader.scss */
#jprePercentage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 25px;
  margin-top: -50px;
  margin-left: -12.5px;
  font-size: 24px;
  color: white;
  text-align: center;
}

/* line 43, ../sass/views/_loader.scss */
#jpreButton {
  width: 100px;
  margin: 0 auto;
  padding: 3px 10px;
  color: white;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  text-shadow: -1px -1px 0 #01293F;
  border: 1px solid #2EACEA;
  background: #23a6ed;
  cursor: pointer;
}

@-webkit-keyframes progress {
  /* line 58, ../sass/views/_loader.scss */
  0% {
    background-position: 0 0;
  }

  /* line 61, ../sass/views/_loader.scss */
  100% {
    background-position: -60px -60px;
  }
}

@-moz-keyframes progress {
  /* line 58, ../sass/views/_loader.scss */
  0% {
    background-position: 0 0;
  }

  /* line 61, ../sass/views/_loader.scss */
  100% {
    background-position: -60px -60px;
  }
}

@-ms-keyframes progress {
  /* line 58, ../sass/views/_loader.scss */
  0% {
    background-position: 0 0;
  }

  /* line 61, ../sass/views/_loader.scss */
  100% {
    background-position: -60px -60px;
  }
}

@keyframes progress {
  /* line 58, ../sass/views/_loader.scss */
  0% {
    background-position: 0 0;
  }

  /* line 61, ../sass/views/_loader.scss */
  100% {
    background-position: -60px -60px;
  }
}

/* line 66, ../sass/views/_loader.scss */
.progress {
  animation-name: progress;
  -webkit-animation-name: progress;
  -moz-animation-name: progress;
  -ms-animation-name: progress;
  -o-animation-name: progress;
}

/* line 1, ../sass/views/_menu.scss */
nav {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 50px;
  background: black;
}
/* line 12, ../sass/views/_menu.scss */
nav .nav-logo {
  height: 50px;
  line-height: 50px;
  float: left;
  padding: 0 0 0 25px;
}
/* line 19, ../sass/views/_menu.scss */
nav ul {
  display: block;
  width: 500px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  line-height: 50px;
}
/* line 28, ../sass/views/_menu.scss */
nav li {
  display: inline-block;
  margin-right: 50px;
}
/* line 32, ../sass/views/_menu.scss */
nav li:last-child {
  margin-right: 0;
}
/* line 37, ../sass/views/_menu.scss */
nav a {
  text-transform: uppercase;
}

/* line 1, ../sass/views/_bio.scss */
.bio {
  padding: 75px 0 75px 0;
}
/* line 4, ../sass/views/_bio.scss */
.bio img {
  display: inline-block;
  margin: 0 25px 0 0;
  vertical-align: middle;
}
/* line 10, ../sass/views/_bio.scss */
.bio h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 48px;
  border-bottom: 5px solid white;
  font-family: Impact, Arial;
}
/* line 19, ../sass/views/_bio.scss */
.bio h2,
.bio p {
  width: 470px;
  color: white;
  text-shadow: 1px 1px 1px #464646;
}
/* line 25, ../sass/views/_bio.scss */
.bio p {
  font-size: 18px;
}

/* line 1, ../sass/views/_show.scss */
.show {
  padding: 75px 0 75px 0;
}
/* line 4, ../sass/views/_show.scss */
.show img {
  display: inline-block;
  margin: 0 0 0 25px;
  vertical-align: middle;
}
/* line 10, ../sass/views/_show.scss */
.show h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 48px;
  border-bottom: 5px solid white;
  font-family: Impact, Arial;
}
/* line 19, ../sass/views/_show.scss */
.show h2,
.show p {
  width: 470px;
  color: white;
  text-shadow: 1px 1px 1px #464646;
}
/* line 25, ../sass/views/_show.scss */
.show p {
  font-size: 18px;
}

/* line 1, ../sass/views/_gallery.scss */
.gallery {
  width: 100%;
}
/* line 7, ../sass/views/_gallery.scss */
.gallery .big img {
  display: inline-block;
  width: 500px;
  height: 500px;
  background-color: black;
}
/* line 17, ../sass/views/_gallery.scss */
.gallery .little img {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: black;
  border: 2px solid white;
}
