.spectacle {

	padding: $padding-section;
	background-color: #e1e1e1;

	img {
		display: inline-block;
		//DUMMY SIZES
		width: 45%;
		height: 350px;
		margin:0 0 0 25px;
		vertical-align: middle;
		//to remove
		background-color: $black;
	}

	h2 {
		font-size: 26px;
		margin-bottom: 15px;
		color: $black;
		text-transform: uppercase;
	}

	p {
		font-size: 20px;
		color: $black;
	}
}