.spectacle {
	background-color: red;

	img {
		display: inline-block;
		//DUMMY SIZES
		width: 500px;
		height: 500px;
		vertical-align: middle;
		//to remove
		background-color: $black;
	}

	p {
		display: inline-block;
		width: 800px;
		height: 500px;
		font-size: 26px;
		vertical-align: middle;
	}
}