<template name="introduction">
	<section id="section0" class="home section">
			
		<!-- <div id="video-controls">
			<button class="tubular-play icon-play"></button>
			<button class="tubular-pause icon-pause"></button>
			<button class="tubular-volume-up icon-volume-up"></button>
			<button class="tubular-volume-down icon-volume-down"></button>
			<button class="tubular-mute icon-volume-mute"></button>
		</div> -->
	
		<div class="home-content">
			<img src="img/logo.png" width="" height="">
		</div>
	
	</section>
</template>