<template name="gallery">
	<section id="section3" class="gallery section">

		<div class="slide">
			<div class="slide-content">

				<figure class="little">
					<img src="" width="" height="">

					<figcaption>
						Légende
					</figcaption>
				</figure>

				<figure class="little">
					<img src="" width="" height="">

					<figcaption>
						Légende
					</figcaption>
				</figure>

				<figure class="little">
					<img src="" width="" height="">

					<figcaption>
						Légende
					</figcaption>
				</figure>

				<figure class="little">
					<img src="" width="" height="">

					<figcaption>
						Légende
					</figcaption>
				</figure>

				<figure class="little">
					<img src="" width="" height="">

					<figcaption>
						Légende
					</figcaption>
				</figure>
				
				<figure class="little">
					<img src="" width="" height="">

					<figcaption>
						Légende
					</figcaption>
				</figure>
				
			<div>
		</div>
	
	</section>
</template>