<template name="gallery">
	<section id="section3" class="gallery section">
		<div class="gallery-content">

			<figure style="background-image: url(//lorempixel.com/g/200/250/?831)">

				<figcaption>
					<h4>Légende</h4>
					<p>Where does the air come from?</p>
				</figcaption>
			</figure>

			<figure style="background-image: url(//lorempixel.com/g/200/250/?831)">

				<figcaption>
					<h4>Légende</h4>
					<p>Where does the air come from?</p>
				</figcaption>
			</figure>

			<figure style="background-image: url(//lorempixel.com/g/200/250/?831)">

				<figcaption>
					<h4>Légende</h4>
					<p>Where does the air come from?</p>
				</figcaption>
			</figure>

			<figure style="background-image: url(//lorempixel.com/g/200/250/?831)">

				<figcaption>
					<h4>Légende</h4>
					<p>Where does the air come from?</p>
				</figcaption>
			</figure>

			<figure style="background-image: url(//lorempixel.com/g/200/250/?831)">

				<figcaption>
					<h4>Légende</h4>
					<p>Where does the air come from?</p>
				</figcaption>
			</figure>

			<figure style="background-image: url(//lorempixel.com/g/200/250/?831)">

				<figcaption>
					<h4>Légende</h4>
					<p>Where does the air come from?</p>
				</figcaption>
			</figure>

			<figure style="background-image: url(//lorempixel.com/g/200/250/?831)">

				<figcaption>
					<h4>Légende</h4>
					<p>Where does the air come from?</p>
				</figcaption>
			</figure>

			<figure style="background-image: url(//lorempixel.com/g/200/250/?831)">

				<figcaption>
					<h4>Légende</h4>
					<p>Where does the air come from?</p>
				</figcaption>
			</figure>

			<figure style="background-image: url(//lorempixel.com/g/200/250/?831)">

				<figcaption>
					<h4>Légende</h4>
					<p>Where does the air come from?</p>
				</figcaption>
			</figure>

			<figure style="background-image: url(//lorempixel.com/g/200/250/?831)">

				<figcaption>
					<h4>Légende</h4>
					<p>Where does the air come from?</p>
				</figcaption>
			</figure>
		<div>
	</section>
</template>