<template name="show">
	<section id="show" class="show">
			
		<div class="spectacle-content center">
	
			<img src="img/chute.png" width="314" height="510">
	
			<div class="texte">
	
				<h2>
					Spectacle	
				</h2>
	
				<p>
					Le foot ne vous intéresse pas? Ca tombe bien lui-même n’y connaît absolument rien. Jean-Sylvain,
					arbitre en queue de pie, arbitre VIP, auto-proclamé depuis la veille est en pleine «reconversation»
					professionnelle, selon ses propres dires!
					Avec ses théories douteuses et sa façon étrange de manipuler les ballons à la main, ce gentil
					doux-dingue va tenter désespérément de conquérir le public. Séducteur maladroit, bonimenteur
					né, ce vrai faux arbitre va finalement se transformer en cycliste déjanté, véritable cascadeur
					américain sur vélo made in China.
					Entre prouesses techniques, gags visuels, improvisation déjantée, jeux de mots tordus et
					participation du public, ce gag-man véritable VRP du rire est encore plus efficace que le prozac!
					Spectacle à consommer sans aucune modération!
				</p>
	
			</div>
	
		</div>
	
	</section>
</template>