*,
*:before,
*:after {
    @include box-sizing(border-box);
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font: 14px/1 Arial, sans-serif;
	color: $white;
}

a {
	color: $white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

#main {
	position: relative;
	height: 100%;
}

.home {
	position: relative;
	width: 100%;
	height: 100%;
	background:url($bg);
	@include background-size(cover);

	.home-content {
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
		text-align: center;
	}
}

.bio,
.show,
.gallery {
	width: 100%;
	height: 100%;

	img {
		position: relative;
	}
}

.bio {
	@include backgroundFilter($color1, right);
}

.show {
	@include backgroundFilter($color2, left);
}

.gallery {
	@include backgroundFilter($color3, right);
}

.center {
	position: relative;
	z-index: 2;
	width: 1024px;
	margin: 0 auto;
}

.img-content,
.text-content {
	float: left;
	width: 50%;
}

.text-content {
	padding: 115px 0;
}

.text {
	width: 50%;
	height: 350px;
}

#tubular-container {
	position: absolute !important;
}

#superContainer {
    position:relative;
    height:100%;
}

.section{
    position: relative;
    @include box-sizing(border-box);
}

.slide {
    float: left;
}

.slide, 
.slidesContainer {
    display: block;
    height: 100%;
}

.slides {
    position: relative;
	height: 100%;
    overflow: hidden;
    @include transition(all 0.3s ease-out);
}

.section.table,
.slide.table {
	display:table;
	width:100%;
}

.tableCell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.slidesContainer {
    float: left;
    position: relative;
    z-index: 1;
}

.controlArrow {
    position: absolute;
    z-index: 5;
    top: 50%;
	width: 0px;
	height: 0px;
	margin-top: -38px;
	border-style: solid;
    cursor: pointer;
}

.controlArrow.prev{
	left: 15px;
	width: 0px;
	border-width: 38.5px 34px 38.5px 0;
	border-color: transparent #fff transparent transparent;
}

.controlArrow.next{  
	right: 15px;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent transparent transparent #fff;
}

.scrollable{
	overflow:scroll;
}

.easing{
    @include transition(all 0.7s ease-out);
}

#fullPage-nav{
	position: fixed;
	z-index: 100;
	top: 50%;
	margin-top: -32px;
	opacity: 1;
}

#fullPage-nav.right{
	right: 17px;
}

#fullPage-nav.left{
	left: 17px;
}

.fullPage-slidesNav{
	position: absolute;
	z-index: 4;
	left: 50%;
	opacity: 1;
}

.fullPage-slidesNav.bottom{
	bottom: 17px;
}

.fullPage-slidesNav.top{
	top: 17px;
}

#fullPage-nav ul,
.fullPage-slidesNav ul{
	margin:0;
	padding:0;
}

#fullPage-nav li,
.fullPage-slidesNav li{
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
	position:relative;
}

.fullPage-slidesNav li{
	display: inline-block;
}

#fullPage-nav li a,
.fullPage-slidesNav li a{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}

#fullPage-nav li .active span,
.fullPage-slidesNav .active span{
	background: #333;
}

#fullPage-nav span,
.fullPage-slidesNav span{
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0);
	@include border-radius(50%);
}

.fullPage-tooltip{
	position: absolute;
	top: -2px;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	color: #fff;
}

.fullPage-tooltip.right{
	right: 20px;
}

.fullPage-tooltip.left{
	left: 20px;
}