@mixin backgroundFilter ($color, $orientation, $position: false) {
	position: relative;
	background-color: $color;
	overflow: hidden;

	@if $orientation == left {
		$orientation: -50deg;
		$position: 40%;
	}

	@if $orientation == right {
		$orientation: 50deg;
		$position: 30%;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 150%;
		height: 100%;
		background-color: darken($color, 10%);
		@include transform(skewX($orientation + 20) translateX($position - 25));
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 150%;
		height: 100%;
		background-color: darken($color, 15%);
		@include transform(skewX($orientation) translateX($position));
	}

}



