$black : #000;
$white : #fff;

$color1: #2a9ae2;
$color2: #f7862a;
$color3: #907eb2;

// $color1: #57CFF4;
// $color2: #FF6F6F;
// $color3: #A8D164;

$bg: "../../img/landing-bg.jpg";

$nav-height: 50px;

$padding-section: 75px 0 75px 0;