<template name="contact">
	<section id="contact" class="overlay">
		
		<div class="contact-content">
			<h1>Contactez moi</h1>
			
			<form id="contactForm" method="" action="">
				<div class="contactLeft">
					<label for="name">
						name<span class="red"> * </span>
					</label>
			
					<input type="text" id="name" class="contact " name="name"/>
			
					<label for="email">
						email <span class="red"> * </span>
					</label>
			
					<input type="text" id="email" class="contact" name="email" />
				</div>
			
				<div class="contactRight">
					<label for="message">
						message <span class="red"> * </span>
					</label>
			
					<textarea id="message" name="message" class="message" rows="4" cols="30" ></textarea>
				</div>
				
				<input class="submit" type="submit" value="submit"/></p>
			</form>
		</div>
		
	</section>
</template>