.gallery {
	width: 100%;

	//MUST PUT A GRID
	.big {
		width: 500px;
		height: 100%;
		display:none;
	}

	.little {
		// To style
		img {
			display: inline-block;
			width: 200px;
			height: 200px;
			background-color: $black;
			border: 2px solid $white;
			cursor: pointer;
			@include box-shadow(2px 2px 0 0px #464646);
		}
	}

}