nav {
	//FIX WITH STICKY FOOTER ?
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;

	width: 100%;
	height: $nav-height;
	background: $black;

	.nav-logo {
		height: $nav-height;
		line-height: $nav-height;
		float: left;
		padding: 0 0 0 ($nav-height / 2);
	}

	ul {
		display: block;
		width: 500px;
		height: $nav-height;
		margin: 0 auto;
		padding: 0;
		line-height: $nav-height;
	}

	li {
		display: inline-block;	
		margin-right: $nav-height;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		text-transform: uppercase;
	}
}