nav {
	//FIX WITH STICKY FOOTER ?
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;

	width: 100%;
	height: $nav-height;
	background: $white;

	.nav-logo {
		float: left;
		height: $nav-height;
		padding: 0 0 0 15px;
		line-height: $nav-height;
		
		a {
			color: $black !important;
		}
	}

	ul {
		display: block;
		width: 250px;
		height: $nav-height;
		margin: 0 auto;
		padding: 0;
		line-height: $nav-height;
	}

	li {
		display: inline-block;	
		margin-right: $nav-height;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		color: transparentize($black, .5);
		text-decoration: none;

		&:hover {
			color: $black;
			text-decoration: none;
		}
	}
}