.spectacle {
	padding: $padding-section;

	img {
		display: inline-block;
		margin:0 0 0 25px;
		vertical-align: middle;
	}

	h2 {
		width: 470px;
		margin-bottom: 15px;
		padding-bottom: 5px;
		font-size: 48px;
		color: $white;
		border-bottom: 5px solid $white; 
		font-family: Impact, Arial;
	}

	p {
		width: 470px;
		font-size: 18px;
		color: $white;
	}
}