<template name="bio">
	<section id="bio" class="bio">
			
		<div class="bio-content center">
	
			<img src="img/velo.png" width="314" height="510" >
	
			<div class="texte">
			
				<h2>
					Biographie	
				</h2>
	
				<p>
					Formé à l’Ecole Nationale du Cirque Annie Fratellini puis au studio de
					création de l’école de cirque de Fontenay Sous Bois par M. Italo Médini,
					ancien jongleur international. Inspiré par le cirque, le théâtre de rue et la farce
					comique, c’est en 2007 qu’il crée son spectacle solo s’orientant ainsi vers les
					arts de la rue. Mais il participe également avec la compagnie Franco-Sud
					Américaine Circo Teatro Gaucho au spectacle Circo Criollo. Egalement en
					duo avec Désiré’N Goma et leur conte Africain Balabala Circus joué en
					France et en Afrique.
				</p>
	
			</div>
		</div>
	
	</section>
</template>