<template name="bio">
	<section id="section1" class="bio section">
			
		<div class="bio-content center">
	
			<div class="img-content">
				<img src="img/velo.png" width="" height="" >
			</div>
	
			<div class="text-content">
			
				<h2>
					Biographie	
				</h2>
	
				<p>
					Formé à l’Ecole Nationale du Cirque Annie Fratellini puis au studio de création de l’école de cirque de Fontenay Sous Bois par M. Italo Médini, ancien jongleur international.<br /><br />

					Inspiré par le cirque, le théâtre de rue et la farce
					comique, c’est en 2007 qu’il crée son spectacle solo s’orientant ainsi vers les arts de la rue.<br /><br />

					Mais il participe également avec la compagnie Franco-Sud
					Américaine Circo Teatro Gaucho au spectacle Circo Criollo.<br /><br />
					Egalement en duo avec Désiré’N Goma et leur conte Africain Balabala Circus joué en France et en Afrique.
				</p>
	
			</div>
		</div>
	
	</section>
</template>