<template name="menu">
	<nav id="menu">
		<div class="nav-logo">
			<a href="#introduction">
				Brice Pezon
			</a>
		</div>

		<ul>
			<li>
				<a href="#bio">
					bio
				</a>
			</li>

			<li>
				<a href="#show">
					spectacle
				</a>
			</li>

			<!--<li>
				<a href="#gallery">
					galerie
				</a>
			</li>

			<li>
				<a href="#blog" class="openBlog">
					blog
				</a>
			</li>-->

			<li>
				<a href="#contact" class="openContact">
					contact
				</a>
			</li>
		</ul>
	</nav>
</template>